.confidenceslider {
  .slider {
    &__item-input-fill-linked {
      position: absolute;
      left: 0;
      height: @slider-track-height;
      background-color: darken(@background-inverted, 40%);
      mix-blend-mode: screen;
    }
  }
}
