{{! Maintainers - Kev Adsett, Himanshu Rajotia <himanshu.rajotia@credipoint.com>}}
<div class="confidenceSlider-inner component-inner">
    {{> component this}}
    <div class="confidenceSlider-widget component-widget{{#unless _isEnabled}} disabled{{#if _isComplete}} complete submitted{{/if}}{{/unless}}">
        <div class="confidenceSlider-container clearfix">
            {{#if axisLabel}}<div class="confidenceSlider-label-axis">{{{axisLabel}}}</div>{{/if}}
            <div class="confidenceSlider-scale clearfix">
                <div class="confidenceSlider-scale-labels clearfix">
                    {{#if _scale.labels.low}}<div class="confidenceSlider-scale-label confidenceSlider-scale-label-low">{{{_scale.labels.low}}}</div>{{/if}}
                    {{#if _scale.labels.high}}<div class="confidenceSlider-scale-label confidenceSlider-scale-label-high">{{{_scale.labels.high}}}</div>{{/if}}
                </div>
                <div class="confidenceSlider-scale-numbers clearfix">
                    {{#each _items}}
                        <div class="confidenceSlider-scale-number display-none">{{value}}</div>
                    {{/each}}
                </div>
                <div class="confidenceSlider-scale-notches clearfix">
                    {{#each _items}}
                        <div class="confidenceSlider-scale-notch component-item-color display-none"></div>
                    {{/each}}
                    <div class="confidenceSlider-scale-background component-item-color"></div>
                </div>
            </div>
            <div class="confidenceSlider-item component-item clearfix">
                <div class="confidenceSlider-item-bar">
                    <div class="confidenceSlider-item-bar-background"></div>
                    <div class="confidenceSlider-item-indicator-bar"></div>
                    <a href="#" class="confidenceSlider-item-handle component-item-color component-item-text-color"></a>
                </div>
                <div class="confidenceSlider-item-outer-bar"></div>
            </div>
        </div>
    </div>
    <div class="buttons">
    </div>
</div>